<div class="container">
  <h2>Cargar estilos musicales</h2>
  <mat-divider></mat-divider>

  <div class="container-musical-styles">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ingrese el estilo musical</mat-label>
      <input matInput type="text" [formControl]="nameFormControl">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nombre del estilo musical es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <div class="container-buttons">
      <button mat-raised-button color="primary" (click)="back()">Volver</button>
      <button mat-raised-button color="primary" (click)="create()" [disabled]="nameFormControl.invalid">Guardar</button>
    </div>

  </div>

</div>
